
@{
    ViewBag.Title = "BizeUlasin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "BizeUlasin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <br />
    <br />
    <h1 style="color:dodgerblue; text-align:left;">Bize Ulaşın</h1>
    <br />
    <h5>Tüm sorularınız için info@ikincielkitap.com mail adresinden bize ulaşabilirsiniz.</h5>
    <br />
    <h6>*09:00-17:00 saatleri arasında gelen maillere çok kısa zamanda dönüş yapma garantisi veriyoruz :) </h6>
</div>