@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="~/Content/images/hawking.png" alt="Zamanın Kısa Tarihi"></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="/Stephen-Hawking-Zamanin-Kisa-Tarihi">Stephen Hawking - Zamanın Kısa Tarihi <br /><b>15 TL</b></a>
                </h4>
                <p class="card-text">Stephen Hawking'ten herkesin kitaplığında olması gereken bir eser. 2014 baskı, Alfa Yayınları'ndan, ilk sayfası yazılı. </p>
            </div>
        </div>
    </div>
 