@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            buraya bir kitap resmi ve bilgisi
        </p>
        <p><a>Buraya sonraki sayfanın linki</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            buraya bir kitap resmi ve bilgisi
        </p>
        <p><a>Buraya sonraki sayfanın linki</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            buraya bir kitap resmi ve bilgisi
        </p>
        <p><a>Buraya sonraki sayfanın linki</a></p>
    </div>
</div>